header {
	color:white;
	text-align:center;
	padding-top:70px;
	font-weight:bold;
	#font-size:44px;
}
table {
	width:100%;
	text-align:center;
}
button a:hover {
	font-size:130%;
	text-decoration:none;
	text-transform:uppercase;
	color:white;
}
td > a{
    display:block;
	text-decoration:none;
	color:white;
}
td  a:hover{
    display:block;
	text-decoration:none;
	color:blue;
}
p::selection{
	background-color:yellow;
	color:red;
}
#main {
  #background-image: url('639118.jpg');
  #font-family: OCR A Extended;
  #font-family: "Courier New", Courier, monospace;
  font-family: "Lucida Console", Monaco, monospace;
  background-repeat: no-repeat;
  background-color:#0b1306;
  color:white;
  #background-size:cover;
}
p, nav {
	animation: createBox 1s;
}
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
button {
	margin:50px;
}

section {
	margin-top:65px;
	#margin-top:-950px;
	#margin-bottom:5px;
    padding: 5px 0;
}
.h6 {
	font-size:15px;
}
button > a {
	text-decoration:none;
	color:white;
}
body {
	background-color:black;
    font-family: "Lucida Console", Monaco, monospace;
	color:white;
}


.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: white;
	color:black;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}